section.section.contact.js-heading#contact
  .heading
    .heading__main.heading__typed
      span
        span contact
        br
        span.heading__sub Please feel free to contact me.
    h2.heading__typed.js-heading-output

  ul.contact__list
    - var items = [];
    - items[0] = {name: 'mail', url: 'mailto:info@shgtkshruch.com'};
    - items[1] = {name: 'github', url: 'https://github.com/shgtkshruch'};
    - items[2] = {name: 'twitter', url: 'https://twitter.com/shgtkshruch'};
    - items[3] = {name: 'facebook', url: 'https://www.facebook.com/shgtkshruch'};
    - items[4] = {name: 'hatena', url: 'http://b.hatena.ne.jp/sh19e/bookmark'};

    each item in items
      li.contact__item
        a(href=`${item.url}`)
          svg.contact__icon(viewbox="0 0 16 16" class=`contact__icon--${item.name}`)
            use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href=`#${item.name}`)
