section.intro.js-heading#intro(data-speed=50)
  .heading__main.heading__typed
    span
      span.heading__name Shigetaka Shirouchi
      br
      span.heading__sub I'm a Front-End Engineer.
  h1.heading__typed.intro__typed.js-heading-output

  .mouse.js-mouse
    .mouse__text Scroll
