.intro
  .heading.heading--intro.js-heading#intro
    .heading__main
      span
        span.heading__name Shigetaka Shirouchi
        br
        span.heading__sub I'm a markup engineer.
    h1.heading__typed.heading__typed--intro
