section.section.skill.js-heading#skill
  .heading
    .heading__main.heading__typed
      span
        span.heading__title skills
        br
        span.heading__sub Adopt the latest tools and methodology.
    h2.heading__typed.js-heading-output

  ul.skill__list
    - var skills = [];
    - skills[0] = {name: 'HTML', text: '仕様に沿ったコーディング'};
    - skills[1] = {name: 'Pug', text: '効率的で変更に強いコーディング'};
    - skills[2] = {name: 'CSS', text: 'レイアウトからアニメーションまで'};
    - skills[3] = {name: 'Sass', text: '効率的で保守性の高いコーディング'};
    - skills[4] = {name: 'PostCSS', text: 'Sassから一歩進んだCSSを書くために'};
    - skills[5] = {name: 'BEM', text: '予測しやすいクラスの命名'};
    - skills[6] = {name: 'SMACSS', text: 'わかりやすいCSSの設計'};
    - skills[7] = {name: 'JavaScript', text: 'アイディアを形にする'};
    - skills[8] = {name: 'Babel', text: '次世代の仕様を積極的に採用'};
    - skills[9] = {name: 'jQuery', text: 'プロトタイプを素早く作る'};
    - skills[10] = {name: 'React', text: 'SPAが作れるようになるべく勉強中'};
    - skills[11] = {name: 'gulp', text: '自動化した時間で創造的な仕事を'};
    - skills[12] = {name: 'Yeoman', text: 'コマンド１つで開発環境を生成'};
    - skills[13] = {name: 'PHP', text: 'WordPressのカスタマイズ'};
    - skills[14] = {name: 'WordPress', text: '小・中規模サイトの制作'};
    - skills[15] = {name: 'Vagrant', text: 'VCCWを使った開発環境'};
    - skills[16] = {name: 'Git', text: 'すべてのコードをバージョン管理'};
    - skills[17] = {name: 'VIM', text: 'カスタマイズして素早いプログラミング'};
    - skills[18] = {name: 'AWS', text: 'ドメイン取得からサーバーの作成まで'};

    each skill in skills
      li.skill__item.js-tippy(title=`${skill.text}`)= skill.name
