.typed.js-typed
  #typed-strings
    pre
      code
        .
          $ cat package.json
          {
            "name": "Shigetaka Shirouchi",
            "version": "1.0.0",
            "description": "Front-end engineer",
            "keywords": [
              "Programming",
              "Design",
              "Reading"
            ],
            "os": ["darwin"],
            "devDependencies": {
              "babel": "6.17.0",
              "Git": "2.10.0",
              "gulp": "3.9.1",
              "node-sass": "3.10.0",
              "pug": "2.0.0-beta6",
              "Vim": "8.0.0",
              "WordPress": "4.6.1"
            }
          }
  #typed.typed__text
