html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: 'Inconsolata', monospace;
  font-size: 1.2rem;
  line-height: 1.7;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  color: inherit;
}

p {
  margin: 0;
}

h1,
h2 {
  margin: 0;
  font-weight: normal;
  font-size: inherit;
}
