html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: 'Inconsolata', monospace;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  color: inherit;
}

p {
  margin: 0;
}
