.jp {
  font-family: "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
  font-size: 0.9rem;
  letter-spacing: 0.08em;
  line-height: 2.2;

  @include mq(pc) {
    font-size: 1rem;
  }
}
