html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: 'Inconsolata', 'Sawarabi Gothic', monospace, sans-serif;
  font-size: 1.2rem;
  line-height: 1.7;
  color: var(--primary-color);
  background-color: var(--bg-color);
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  color: inherit;
}

p {
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: normal;
  font-size: inherit;
}

::selection {
  background-color: var(--primary-color);
  color: var(--bg-color);
}
