.gallery {
  $margin: 5rem;

  visibility: hidden;
  margin-left: auto;
  width: calc(100vw - 30rem - #{$margin});
  margin-right: $margin;

  &.is-active {
    visibility: visible;

    & * {
      opacity: 1;
    }
  }

  &__heading {
    letter-spacing: 0.1em;
    font-size: 2rem;
    font-weight: normal;
    margin: 0 0 2rem;
    opacity: 0;
    transition: opacity 0.5s;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
  }

  &__item {
    margin: 0 auto 14rem;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.8s;
    cursor: pointer;

    @for $i from 1 through 10 {
      &:nth-child(#{$i}) {
        transition-delay: 0.4s + 0.1s * ($i - 1);
      }
    }
  }

  &__img {
    box-shadow: 0 37.125px 70px -12.125px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.5s;

    &:hover {
      box-shadow: 0 60px 100px -12px rgba(0, 0, 0, 0.3);
    }
  }
}
