.gallery {
  visibility: hidden;
  margin-left: auto;
  width: calc(100vw - 30rem - 7rem);
  margin-right: 3rem;

  &.is-active {
    visibility: visible;

    & * {
      opacity: 1;
    }
  }

  &__header {
    position: relative;
    height: 100vh;
  }

  &__heading {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4.4rem;
    font-weight: normal;
    letter-spacing: 0.2em;
    opacity: 0;
    transition: opacity 0.5s 1.5s;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
  }

  &__item {
    width: 70%;
    margin: 0 auto 14rem;
    opacity: 0;
    cursor: pointer;
    transition: transform 0.4s ease-in-out;

    &.is-active {
      transform: scale(1.1, 1.1);
    }
  }

  &__data {
    display: none;
  }

  &__img {
    box-shadow: 0 37.125px 70px -12.125px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.5s;

    &:hover {
      box-shadow: 0 60px 100px -12px rgba(0, 0, 0, 0.3);
    }
  }
}
