.gallery {
  visibility: hidden;
  margin-left: auto;
  width: calc(100vw - 30rem - 7rem);
  margin-right: 3rem;

  &.is-active {
    visibility: visible;

    & * {
      opacity: 1;
    }
  }

  &__heading {
    position: relative;
    padding-left: 1.4rem;
    margin: 0 0 2rem;
    font-size: 1.4rem;
    font-weight: normal;
    letter-spacing: 0.2em;
    opacity: 0;
    transition: opacity 0.5s;

    &::before {
      content: '';
      position: absolute;
      top: 60%;
      left: 0;
      width: 0.8rem;
      height: 1px;
      background-color: currentColor;
    }
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
  }

  &__item {
    width: 70%;
    margin: 0 auto 14rem;
    opacity: 0;
    cursor: pointer;

    @for $i from 1 through 10 {
      &:nth-child(#{$i}) {
        transition:
          opacity 0.8s 0.4s + 0.1s * ($i - 1),
          transform 0.4s ease-in-out;
      }
    }

    &.is-active {
      transform: scale(1.1, 1.1);
    }
  }

  &__img {
    box-shadow: 0 37.125px 70px -12.125px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.5s;

    &:hover {
      box-shadow: 0 60px 100px -12px rgba(0, 0, 0, 0.3);
    }
  }
}
