.heading {
  &__main {
    visibility: hidden;
  }

  &__typed {
    width: 100%;
    text-align: center;
  }

  &__title {
    display: inline-block;
    margin-bottom: 1rem;
    font-size: 2rem;
    line-height: 1.4;
    font-weight: normal;
    letter-spacing: 0.2em;

    @include mq(pc) {
      font-size: 3rem;
    }
  }

  &__name {
    display: inline-block;
    margin-bottom: 1rem;
    font-size: 2.2rem;
    line-height: 1.2;
    letter-spacing: 0.3em;
    text-transform: uppercase;

    @include mq(pc) {
      font-size: 2.8rem;
    }
  }

  &__sub {
    font-size: 1rem;
    letter-spacing: 0.1em;
    line-height: 1.6;

    @include mq(pc) {
      font-size: 1.3rem;
    }

    &::after {
      content: '|';
      animation: blink 1.2s infinite;
    }
  }
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
