.skill {
  &__list {
    display: flex;
    flex-wrap: wrap;
    max-width: 50rem;
    margin: 3rem auto -1.6rem;

    @include mq(pc) {
      margin-top: 5rem;
    }
  }

  &__item {
    position: relative;
    margin-right: 1rem;
    margin-bottom: 0.4rem;
    letter-spacing: 0.1em;
    opacity: 0;

    @for $i from 1 through 20 {
      &:nth-child(#{$i}) {
        transition:
          color 0.3s,
          opacity 0.8s 0.05s * ($i - 1);
      }
    }

    &::after {
      content: '/';
      position: absolute;
      top: 0;
      left: 100%;
      color: #000;
    }

    .is-active & {
      opacity: 1;
    }

    @include mq(pc) {
      margin-bottom: 1.6rem;

      &:hover {
        color: red;
      }
    }
  }
}
