.terminal {
  $root: &;

  &.is-intro-end {
    #{$root}__window {
      background-color: #fff;
    }

    #{$root}__body {
      color: #000;
    }
  }

  &__window {
    background-color: #000;
    transition: background-color 1s 1.2s;
  }

  &__header {
    padding-left: 1.2rem;
  }

  &__btn {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 2px;

    &:nth-child(1) {
      background-color: red;
    }

    &:nth-child(2) {
      background-color: yellow;
    }

    &:nth-child(3) {
      background-color: green;
    }
  }

  &__body {
    height: 100vh;
    color: #fff;
    overflow-x: scroll;
    display: flex;
    transition: color 1s 1.2s;
  }
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
