.terminal {
  &__window {
    background: #000;
  }

  &__header {
    padding-left: 1.2rem;
  }

  &__btn {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 2px;

    &:nth-child(1) {
      background-color: red;
    }

    &:nth-child(2) {
      background-color: yellow;
    }

    &:nth-child(3) {
      background-color: green;
    }
  }

  &__body {
    height: 100vh;
    padding: 1rem;
    color: #fff;
    overflow-x: scroll;
    display: flex;
  }
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
