.work {
  &__list {
    display: none;
    padding-top: 4rem;

    @include mq(pc) {
      padding-top: 14rem;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    &:not(:last-child) {
      margin-bottom: 5rem;
    }

    @include mq(pc) {
      flex-direction: row-reverse;
      flex-wrap: wrap;
      align-items: center;

      &:not(:last-child) {
        margin-bottom: 14rem;
      }
    }
  }

  &__img {
    margin-bottom: 3rem;
    box-shadow: 0 37.125px 70px -12.125px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition:
      box-shadow 0.5s,
      opacity 1s;

    &.is-active {
      opacity: 1;
    }

    @include mq(pc) {
      width: 60%;

      &:hover {
        box-shadow: 0 60px 100px -12px rgba(0, 0, 0, 0.3);
      }
    }
  }

  &__data {
    display: none;

    @include mq(pc) {
      width: 35%;
      margin-right: auto;
    }

    .text {
      margin: 0.3rem 0;

      &:last-child {
        margin-top: 1rem;
      }

      &--url {
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}
