.work {
  &__inner {
    padding-top: 14rem;
  }

  &__item {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;

    &:not(:last-child) {
      margin-bottom: 14rem;
    }
  }

  &__img {
    width: 60%;
    box-shadow: 0 37.125px 70px -12.125px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.5s;

    &:hover {
      box-shadow: 0 60px 100px -12px rgba(0, 0, 0, 0.3);
    }
  }

  &__data {
    display: none;
    width: 30%;
    line-height: 1.6;
    margin-right: auto;
    font-weight: normal;
    font-size: 1.2rem;

    > .text {
      margin: 0.3rem 0;

      &:last-child {
        margin-top: 1rem;
      }
    }
  }
}
