---
import { css } from '../../../styled-system/css';

export interface Props {
  id?: string;
  class?: string;
}

const { id, class: className } = Astro.props;

const sectionStyles = css({
  padding: '3rem 0',
  pc: {
    padding: '9rem 0',
  },
  _firstOfType: {
    paddingTop: 0,
  },
});
---

<section id={id} class={`${sectionStyles} ${className || ''}`}>
  <slot />
</section>
