extends layout

block title
  title www-shgtkshruch-com

block body
  include ./partials/common/svg

  .l-container
    include ./partials/index/intro
    include ./partials/index/work
    include ./partials/index/history
    include ./partials/index/skill
    include ./partials/index/contact

  include ./partials/common/footer
